@import "mixins";
@import "reset.css";

body.marx-chrome-extension {
  font: { size: 62.5%; family: Arial, sans-serif; }
  p, li, a, input { font-size: 1.6em;
    p, li, a, input { font-size: 1em; }
  }
}

:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.marx-js-controls {
  @include clearfix;
  padding: 30px;
  width: 600px;
  .marx-standard-controls,
  .marx-advanced-controls {
    width: 48%;
    float: left;
  }
  .marx-advanced-controls { float: right; }
  h4 { font-size: 24px; margin-bottom: 15px; }
}

.marx-js-group {
  @include clearfix;
  padding: 15px 0;
  p {
    width: 80%;
    float: left;
  }
  a {
    float: right;
    padding: 4px 8px;
    color: #333;
    text-decoration: none;
    background-color: #ddd;
    &:hover { background-color: #ccc; }
  }
}